.App {
  /* background-color: hsl(48, 100%, 97%); */
}

html {
  font-family: Branding, Futura, 'Avenir Next', Avenir, ui-sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji' !important;
}

body {
  overflow: overlay;
}

.App-header {
  height: 4rem;
  display: flex;
  flex-direction: column;
  color: white;
  grid-area: header;
}

nav {
  grid-area: side;
  /* background-color: hsl(0, 0%, 93%); */
}

nav > div {
  margin-bottom: 2rem;
}

main {
  grid-area: main;
  /* background-color: rgb(247, 247, 238); */
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.content {
  background-color: white;
  width: 65ch;
  box-shadow: 0 0 0 1 black;
  padding: 1rem;
}

.content button {
  font-weight: bold;
  padding: 4px 8px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.primary {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.secondary {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.App-header h1 {
  font-size: 2rem;
  margin: 0;
}
.App-header h2 {
  font-size: 1.25rem;
  margin: 0;
}

.cls-3 {
  fill: #ffe99d;
}

.yx-prose {
  /* IM FELL English */
  font-family: english, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.yx-prose-i {
  /* IM FELL English Italic */
  font-family: english, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

.yx-heading {
  /* IM FELL French Canon Regular */
  font-family: french-canon, serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.yx-hand {
  font-family: 'swister', 'Bradley Hand', 'Marker Felt', 'Felt Tip', cursive;
  /* font-weight: 500; */
  font-style: normal;
  /* font-size: 1.5em; */
}

#ravland-map .cls-1,
#ravland-map .cls-2 {
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 1px;
  stroke-opacity: 0.25;
  fill: hsla(0deg, 0%, 0%, 50%);
  transition: all 0.25s cubic-bezier(0.07, 0.95, 0, 1);
}

#ravland-map.fog-of-war .cls-1,
#ravland-map.fog-of-war .cls-2 {
  stroke: #fff;
  stroke-opacity: 0.25;
  fill: hsla(0deg, 0%, 0%, 100%);
}

#ravland-map .cls-2:focus,
#ravland-map .cls-2:focus-within,
#ravland-map .cls-2:focus-visible {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: 1;
  fill: hsla(0deg, 0%, 0%, 0%);
  outline: none;
}
#ravland-map .hex:hover {
  fill: hsla(0deg, 0%, 0%, 0%);
  cursor: pointer;
}

#ravland-map.fog-of-war .hex:hover {
  fill: hsla(0deg, 0%, 0%, 100%);
  cursor: pointer;
}

#ravland-map .hex.hex-hovered {
  fill: transparent;
}
#ravland-map .hex.hex-explored:hover {
  fill: transparent;
}

#ravland-map .hex.hex-explored {
  fill: transparent;
}

#ravland-map .hex.hex-selected {
  stroke: white;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

#ravland-map .hex div {
  position: static;
  display: block;
  z-index: 1000;
  background-color: red;
  width: 100%;
  height: 100%;
}

.hide-default-spinner-appearance {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.hide-default-spinner-appearance ::webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-default-spinner-appearance ::webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.source-text {
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 1);
  transition: text-shadow 0.25s cubic-bezier(0.07, 0.95, 0, 1);
}
.group:hover .source-text {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5), 0 0 3px rgba(0, 0, 0, 0.5);
}

.source-bg {
  background: radial-gradient(
    circle at 50% -25%,
    var(--from-color, hsl(197, 100%, 90%)) 0%,
    var(--via-color, hsl(197, 100%, 90%)) 50%,
    var(--to-color, hsl(197, 100%, 80%)) 100%
      /* linear-gradient(
    180deg,
    var(--from-color, hsl(197, 100%, 90%)) 0%,
    var(--via-color, hsl(197, 100%, 90%)) 50%,
    var(--to-color, hsl(197, 100%, 80%)) 100%
    */
  );
  background-size: 100% 200%;
  transition: background-position 0.25s cubic-bezier(0.07, 0.95, 0, 1);
  background-position: 100% 0%;
}

.group:hover .source-bg {
  background-position: 100% 100%;
}

.source-bg-bitterreach {
  --from-color: #bae6fd;
  --via-color: #7dd3fc;
  --to-color: #0ea5e9;
}

.source-bg-ravland {
  --from-color: #a7f3d0;
  --via-color: #6ee7b7;
  --to-color: #16a34a;
}
